<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PRIVET</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<a href="/companies" class="btn btn-primary btn-danger" role="button" aria-disabled="true">Companies</a>
<a href="/courses" class="btn btn-primary btn-danger" role="button" aria-disabled="true">Courses</a>
<a href="/groups" class="btn btn-primary btn-danger" role="button" aria-disabled="true">Groupes</a>
<a href="/students" class="btn btn-primary btn-danger" role="button" aria-disabled="true">Students</a>
<a href="/teachers" class="btn btn-primary btn-danger" role="button" aria-disabled="true">Teachers</a>
</body>
</html>